<div class="card  my-3">
    <img src="{{personaje.image}}" class="card-img-top" alt="{{personaje.name}}">
    <div class="card-body">
        <span class="btn btn-sm float-end" [ngClass]="{
            'btn-success': personaje.status.toLowerCase().includes('alive'),
            'btn-danger' : personaje.status.toLowerCase().includes('dead'),
            'btn-warning': personaje.status.toLowerCase().includes('unknown')
          }">
            {{personaje.status}}
        </span>
        <h5 class="card-title">{{personaje.name}}</h5>
        <p class="text-muted">{{personaje.species}}</p>

        <div class="row text-left">
            <button class="text-muted" (click)='showEpisodes()'>Episodes</button>
            <hr />
        </div>
        <!--<div *ngFor="let a of personaje.episode"> 
         {{sumChars(a)}}
                    test{{showText()}}
        </div>-->
        <span *ngIf="isShown">
    
            {{sumChars(personaje)}}
        </span>
        

        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>